<div class="flex flex-row justify-between items-center mb-3">
    <div>
        <div class="text-3xl font-extrabold mb-2">Detalhes por Escola</div>
        <div class="font-normal">Visão detalhada da infraestrutura e conectividade</div>
    </div>
</div>
<p-card>
    <div class="text-xl font-extrabold mb-2">Hierarquia da Escola</div>
    @if(isLoading) {
        <p class="text-gray-500 mb-2">Atualizando...</p>
    }
    <hr>
    <div class="grid grid-cols-5">
        <!-- Localidade -->

        <div class="margin-padding font-bold">
            <i class="pi pi-map text-green-600"></i>&nbsp;
            <span>{{inepInfo.cityName}}</span>
        </div>
        <div class="margin-padding"></div>
        <div class="margin-padding"></div>
        <div class="margin-padding"></div>
        <div class="margin-padding"></div>

        <div class="margin-padding font-bold" style="margin-left: 1rem;">
            <i class="pi pi-graduation-cap text-green-600"></i>&nbsp;
            <span>{{inepInfo.inep}}</span>
        </div>
        <div class="margin-padding">
            @if(inepInfo.online) {
            <span>Online</span>
            } @else {
            <span class="text-red-600">Offline</span>
            }
        </div>
        <div class="margin-padding">
            <div>Último Momento Offline: </div>
            @if(isLoadingLastMoment) {
                <div class="text-gray-500">
                    <i class="pi pi-spin pi-spinner text-gray-500"></i>&nbsp;&nbsp;
                    <span class="text-gray-500">Atualizando...</span>
                </div>
            } @else {
                <div class="text-gray-500">
                    <i class="pi pi-clock"></i>&nbsp;
                    {{inepInfo.lastMomentOnline | date:'dd/MM/yyyy HH:mm:ss'}}
                </div>
            }
        </div>
        <div class="margin-padding">Dispositivos: {{inepInfo.totalDevices}}</div>
        <div class="margin-padding text-green-500 cursor-pointer">
            <a [routerLink]="['/connected-devices']" [queryParams]="{ devSn: inepInfo.devSn }">Dispositivos Online</a>
        </div>

        <!-- Dispositivos da Escola -->
        <!-- Roteadores -->
        @if (siteModelView?.router) {
        <div class="border-left margin-padding" style="margin-left: 2rem;">{{siteModelView?.router?.model || 'n/d'}}
        </div>
        <div class="border-center margin-padding">
            @if(siteModelView?.router?.online) {
            <span>Online</span>
            } @else {
            <span class="text-red-600">Offline</span>
            }
        </div>
        <div class="border-center margin-padding">IP: {{siteModelView?.router?.lanIp}}</div>
        <div class="border-center margin-padding text-green-500 cursor-pointer">Template do Firewall</div>
        <div class="border-right margin-padding text-green-500 cursor-pointer">
            <a [routerLink]="['/alarm-details']" [queryParams]="{ deviceType: 'router', value: siteModelView?.router?.sceneId}">Alarmes</a>
        </div>
        }

        <!-- Switches -->
        @for (item of siteModelView?.switches; track item) {
        <div class="border-left margin-padding" style="margin-left: 2rem;">{{item.aliasName || 'n/d'}}</div>
        <div class="border-center margin-padding">
            @if(item.online) {
            <span>Online</span>
            } @else {
            <span class="text-red-600">Offline</span>
            }
        </div>
        <div class="border-center margin-padding">IP: {{item.devIp}}</div>
        <div class="border-center margin-padding"></div>
        <div class="border-right margin-padding text-green-500 cursor-pointer">
            <a [routerLink]="['/alarm-details']" [queryParams]="{ deviceType: 'switch', value: item.sn}">Alarmes</a>
        </div>
        }

        <!-- Access Points -->
        @for (item of siteModelView?.aps; track item) {
        <div class="border-left margin-padding" style="margin-left: 2rem;">{{item.aliasName || 'n/d'}}</div>
        <div class="border-center margin-padding">
            @if(item.online) {
            <span>Online</span>
            } @else {
            <span class="text-red-600">Offline</span>
            }
        </div>
        <div class="border-center margin-padding">IP: {{item.devIp}}</div>
        <div class="border-center margin-padding"></div>
        <div class="border-right margin-padding text-green-500 cursor-pointer">
            <a [routerLink]="['/alarm-details']" [queryParams]="{ deviceType: 'ap', value: item.sn }">Alarmes</a>
        </div>
        }
    </div>
</p-card>